
body
{ 
  margin: auto;
  width:960px;
  text-align: center;
  background:#ebebeb;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  background: #777;
  color: #777;
  
}   
p
{ padding: 0 0 20px 0;
  line-height: 1.7em;
}
h1, p {
  color:#777;
  background:#ebebeb;
}
header, nav, footer, section, aside {
  background:#ebebeb;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
}
#main {
  margin-left: auto;
  margin-right: auto;
}
header {
  height:100px;
}
.article {
  color:#ebebeb;
  background: #777;
}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #009FBC;}

a:hover
{ text-decoration: none;}

.section {
  width: 495px;
}

.left
{ float: left;
  margin-right: 10px;}

.right
{ float: right; 
 
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}


#site_content
{ width: 880px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;} 

#sidebar_container
{ float: right;
  width: 224px;}


#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #E7746F;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
